.paginate {
  display: flex;
  align-items: center;
  column-gap: 1.042vw;
  user-select: none;
  color: black;
}

.active {
  padding: 0.26vw 0.521vw;
  border-radius: 0.156vw;
  color: white;
  cursor: pointer;
  background: #262626;
  transition-duration: 0.3s;
}

.active:hover {
  background-color: #262626;
}

.page {
  padding: 0.26vw 0.677vw;
  border-radius: 0.156vw;
  cursor: pointer;
  transition-duration: 0.3s;
}

.page:hover {
  background-color: #262626;
  color: white;
}
