.paginate {
  display: flex;
  align-items: center;
  column-gap: 20px;
  user-select: none;
  color: black;
}

.active {
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background: #262626;
  transition-duration: 0.3s;
}

.active:hover {
  background-color: #262626;
}

.page {
  padding: 5px 13px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.page:hover {
  background-color: #262626;
  color: white;
}
